# Pandas Operations 1

In [10]:
#Loading  the dataset
import pandas as pd 
df =pd.read_csv('Desktop/data analysis world/python/pandas/Pandas_practice.csv')

In [20]:
#Checking the structure of the data
print(df.head())

   CustomerID CustomerName  Gender  Age  Product     Category  Price  \
0           1        Alice  Female   28   Laptop  Electronics   1000
1           2          Bob    Male   34    Chair    Furniture    150
2           3      Charlie    Male   29    Phone  Electronics    800
3           4        Daisy  Female   22     Desk    Furniture    300
4           5          Eve  Female   40  Monitor  Electronics    200

   Quantity PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11
0         1    1/10/2024         NaN         28.0       Alice
1         2    2/15/2024         NaN          NaN         NaN
2         1    3/18/2024         NaN          NaN         NaN
3         1    4/20/2024         NaN          NaN         NaN
4         3    5/25/2024         NaN          NaN         NaN

In [12]:
#View the first few rows
print(df.info)

<bound method DataFrame.info of    CustomerID CustomerName  Gender  Age  Product     Category  Price  \
0           1        Alice  Female   28   Laptop  Electronics   1000
1           2          Bob    Male   34    Chair    Furniture    150
2           3      Charlie    Male   29    Phone  Electronics    800
3           4        Daisy  Female   22     Desk    Furniture    300
4           5          Eve  Female   40  Monitor  Electronics    200
5           6        Frank    Male   45     Sofa    Furniture    500
6           7        Grace  Female   31       TV  Electronics    700
7           8         Hank    Male   27      Bed    Furniture    400

   Quantity PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11
0         1    1/10/2024         NaN         28.0       Alice
1         2    2/15/2024         NaN          NaN         NaN
2         1    3/18/2024         NaN          NaN         NaN
3         1    4/20/2024         NaN          NaN         NaN
4         3    5/25/2024         NaN          NaN         NaN
5         1     6/1/2024         NaN          NaN         NaN
6         2     7/7/2024         NaN          NaN         NaN
7         1    8/12/2024         NaN          NaN         NaN  >

In [26]:
#Checking the Basic statistics of the data
print(df.describe())

       CustomerID        Age        Price  Quantity  Unnamed: 9  Unnamed: 10
count     8.00000   8.000000     8.000000  8.000000         0.0          1.0
mean      4.50000  32.000000   506.250000  1.500000         NaN         28.0
std       2.44949   7.445037   302.887886  0.755929         NaN          NaN
min       1.00000  22.000000   150.000000  1.000000         NaN         28.0
25%       2.75000  27.750000   275.000000  1.000000         NaN         28.0
50%       4.50000  30.000000   450.000000  1.000000         NaN         28.0
75%       6.25000  35.500000   725.000000  2.000000         NaN         28.0
max       8.00000  45.000000  1000.000000  3.000000         NaN         28.0

In [66]:
#Grouping the data 
total_sales_by_category = df.groupby('Category')['TotalSales'].sum() 
print(total_sales_by_category)

Category
Electronics    2700
Furniture      1350
Name: TotalSales, dtype: int64

In [62]:
#Filtering rows for males 
males = df[df['Gender'] =='Male']
print(males)

   CustomerID CustomerName Gender  Age Product     Category  Price  Quantity  \
1           2          Bob   Male   34   Chair    Furniture    150         2
2           3      Charlie   Male   29   Phone  Electronics    800         1
5           6        Frank   Male   45    Sofa    Furniture    500         1
7           8         Hank   Male   27     Bed    Furniture    400         1

  PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11  TotalSales
1    2/15/2024         NaN          NaN         NaN         150
2    3/18/2024         NaN          NaN         NaN         800
5     6/1/2024         NaN          NaN         NaN         500
7    8/12/2024         NaN          NaN         NaN         400

In [78]:
#Find the most expensive product sold
most_expensive =  df[df['Price'] == df['Price'].max()] 
print(most_expensive)

   CustomerID CustomerName  Gender  Age Product     Category  Price  Quantity  \
0           1        Alice  Female   28  Laptop  Electronics   1000         1

  PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11  TotalSales
0    1/10/2024         NaN         28.0       Alice        1000

In [82]:
#Sorting the data by PurchaseDate
sorted_df = df.sort_values(by='PurchaseDate')
print(sorted_df)

   CustomerID CustomerName  Gender  Age  Product     Category  Price  \
0           1        Alice  Female   28   Laptop  Electronics   1000
1           2          Bob    Male   34    Chair    Furniture    150
2           3      Charlie    Male   29    Phone  Electronics    800
3           4        Daisy  Female   22     Desk    Furniture    300
4           5          Eve  Female   40  Monitor  Electronics    200
5           6        Frank    Male   45     Sofa    Furniture    500
6           7        Grace  Female   31       TV  Electronics    700
7           8         Hank    Male   27      Bed    Furniture    400

   Quantity PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11  TotalSales
0         1    1/10/2024         NaN         28.0       Alice        1000
1         2    2/15/2024         NaN          NaN         NaN         150
2         1    3/18/2024         NaN          NaN         NaN         800
3         1    4/20/2024         NaN          NaN         NaN         300
4         3    5/25/2024         NaN          NaN         NaN         200
5         1     6/1/2024         NaN          NaN         NaN         500
6         2     7/7/2024         NaN          NaN         NaN         700
7         1    8/12/2024         NaN          NaN         NaN         400

In [84]:
#Adding a column when age > 40
df['IsSenior'] = df['Age'] > 40
print(df)

   CustomerID CustomerName  Gender  Age  Product     Category  Price  \
0           1        Alice  Female   28   Laptop  Electronics   1000
1           2          Bob    Male   34    Chair    Furniture    150
2           3      Charlie    Male   29    Phone  Electronics    800
3           4        Daisy  Female   22     Desk    Furniture    300
4           5          Eve  Female   40  Monitor  Electronics    200
5           6        Frank    Male   45     Sofa    Furniture    500
6           7        Grace  Female   31       TV  Electronics    700
7           8         Hank    Male   27      Bed    Furniture    400

   Quantity PurchaseDate  Unnamed: 9  Unnamed: 10 Unnamed: 11  TotalSales  \
0         1    1/10/2024         NaN         28.0       Alice        1000
1         2    2/15/2024         NaN          NaN         NaN         150
2         1    3/18/2024         NaN          NaN         NaN         800
3         1    4/20/2024         NaN          NaN         NaN         300
4         3    5/25/2024         NaN          NaN         NaN         200
5         1     6/1/2024         NaN          NaN         NaN         500
6         2     7/7/2024         NaN          NaN         NaN         700
7         1    8/12/2024         NaN          NaN         NaN         400

   IsSenior
0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False

In [88]:
#Finding the average quantity purchased by category
avg_quantity_by_category = df.groupby('Category')['Quantity'].mean() 
print(avg_quantity_by_category)

Category
Electronics    1.75
Furniture      1.25
Name: Quantity, dtype: float64

In [92]:
# Saving a DataFrame to a CSV file
df.to_csv('output_file.csv', index=False)

In [96]:
# Saving DataFrame called total_sales_by_category
total_sales_by_category.to_csv('total_sales.csv', index=True)

In [98]:
#Saving DataFrame to an Excel File
df.to_excel('output_file.xlsx', index=False)

In [100]:
#Saving DataFrame to a JSON File
df.to_json('output_file.json')

In [102]:
#saving to SQL
from sqlalchemy import create_engine

In [1]:
# Create an SQLite engine 
engine = create_engine('sqlite:///my_database.db’)

In [3]:
# Saving DataFrame to SQL 
table df.to_sql('customers', con=engine, index=False, if_exists='replace')